@model DataLayer.Article

@if (Model.Video != null)
{
    <video width="650" controls>
        <source src="/Videos/@Model.Video" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

}
else
{
<div class="post-thumb">
    <img src="/Images/Articles/@Model.Image" class="img-fluid" alt="">
</div>
}

<div class="post-meta">
    <h1 class="article-title">
        @Model.Name
    </h1>
    <ul>
        <li>
            <span class="ion-ios-person"></span>
            <a href="#">@Model.Author</a>
        </li>
        <li>
            <span class="ion-pricetag"></span>
            <a href="#">@Model.ArticleGroups.GroupName</a>
        </li>
        <li>
            <span class="ion-chatbox"></span>
            <a href="#">14</a>
        </li>
    </ul>
</div>
<div class="article-content">
    <p>
        @Html.Raw(Model.Text)
    </p>
</div>

